<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/trab_db?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="malote/Partida.hbm.xml"/>
    <mapping resource="malote/Objderjogador.hbm.xml"/>
    <mapping resource="malote/Jogador.hbm.xml"/>
    <mapping resource="malote/Carta.hbm.xml"/>
    <mapping resource="malote/Cor.hbm.xml"/>
    <mapping resource="malote/Objconqcont.hbm.xml"/>
    <mapping resource="malote/Objterritorio.hbm.xml"/>
    <mapping resource="malote/Historico.hbm.xml"/>
    <mapping resource="malote/Territorio.hbm.xml"/>
    <mapping resource="malote/Continente.hbm.xml"/>
    <mapping resource="malote/Jogam.hbm.xml"/>
    <mapping resource="malote/Ocupacao.hbm.xml"/>
    <mapping resource="malote/Objetivo.hbm.xml"/>
    <mapping resource="malote/Jogadorcarta.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
