<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/trab_db?zeroDateTimeBehavior=convertToNull</property>
    <mapping resource="br/uff/es2/war/entity/Objterritorio.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Jogador.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Territorio.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Jogadorcarta.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Objderjogador.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Carta.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Cor.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Ocupacao.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Continente.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Partida.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Objconqcont.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Historico.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Mundo.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Objetivo.hbm.xml"/>
    <mapping resource="br/uff/es2/war/entity/Jogam.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
